<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeChat webhook</title>
</head>
<body>
<div style="text-align: center">
    <h4>使用方法</h4>
    <p>默认监听端口9000</p>
    <p>java -jar --url=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=xxxxxxxx</p>
    <p>自定义监听端口 --server.port=xxxx</p>
    <p>java -jar --server.port=xxxx --url=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=xxxxxxxx</p>
    <p>&copy;阿宝 <a href="https://github.com/520333/wechatwebhook" target="_blank">github</a></p>

</div>

</body>
</html>