<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DINGTALK webhook</title>
</head>
<body>

<div style="text-align: center">
    <h4>使用方法</h4>
    <h5>参数：--url 钉钉机器人webhook地址</h5>
    <h5>参数：--secret 钉钉机器人密钥</h5>
    <h5>参数：--atall 是否@所有人(true false)</h5>
    <h5>参数：--server.port 自定义监听端口 默认监听端口9000</h5>
    <span style="background-color: black;color: aliceblue">java -jar </span>
    <span style="background-color: black;color:lightcoral">--server.port=9000 --url=https://oapi.dingtalk.com/robot/send?access_token=xxxxxxxxxxx </span>
    <span style="background-color: black;color:lightcoral"> --secret=xxxxxxx</span>
    <span style="background-color: black;color:lightcoral"> --atall=true</span>
    <p>&copy;阿宝 <a href="https://github.com/520333/wechatwebhook" target="_blank">github</a></p>
</div>
</body>
</html>